<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Código de Verificación</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            padding: 20px;
        }

        h1, h2 {
            color: #0070c0;
            text-align: center;
        }

        h2 {
            font-size: 36px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            color: #333333;
            margin-bottom: 10px;
        }

        .container {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            padding: 30px;
            max-width: 600px;
            margin: 0 auto;
        }

        .company-name {
            color: #2ea261;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Código de Verificación</h1>
    <p>Hola {{fullname}},</p>
    <p>Este correo electrónico es para confirmar tu identidad. Tu código de verificación es:</p>
    <h2>{{code}}</h2>
    <p>Por favor, ingresa este código en el sitio web para completar el proceso de verificación.</p>
    <p>Si no solicitaste este código, por favor ignora este correo electrónico.</p>
    <p>Gracias,</p>
    <p><span class="company-name">DenunCity</span></p>
</div>
</body>
</html>
